md-content.md-padding.page.page-homepage

    md-card
        md-card-content

            h2 Woohoo!
            p Welcome to the AngularJS Express Material Design boilerplate.
            p Feel free to explore the following pages:
            p: a(ui-sref="login") Sample login form
            p: a(ui-sref="books") Sample book collection page
            p: a(ui-sref="examples") Sample page with some Material directives
