md-content.md-padding.page-examples
    h1 Woohoo!
    p Welcome to the AngularJS Express Material Design boilerplate
    p: a(ui-sref="books") Sample book collection page
    p: a(ui-sref="examples") Sample page with some Material directives
