md-content.md-padding.page.page-books

    md-card
        md-card-content

            h2 Sample book collection

            p You can remove books or add new books using the form at the bottom of the page:

            p(ng-hide="books.length") No more books, please refresh the page to reset the list

            md-list(ng-show="books.length")
                md-item(ng-repeat="book in books")
                    md-item-content
                        div.md-tile-left {{ $index + 1 }}
                        div.md-tile-content
                            p: strong {{ book.title }}
                            p By {{ book.author }}
                            p: a(ng-click="removeBook(book)") Remove this book from the collection
                    md-divider(ng-if="!$last")

    md-card
        md-card-content

            h4 Add a new book to the collection

            form(name="bookForm", ng-submit="addBook(book)")
                div(layout="row", layout-sm="column")
                    md-input-container(flex)
                        label Book title
                        input(name="title", ng-model="book.title", required, placeholder="Please enter the title of the book")
                    md-input-container(flex)
                        label Author
                        input(name="author", ng-model="book.author", required, placeholder="Please enter the name of the author")
                div(layout="row", layout-sm="column")
                    md-button.md-raised.md-primary Add book
