header
    md-toolbar
        .md-toolbar-tools
            h2: a(ui-sref="homepage") NGX Material
            .md-tools
                a.md-button(ui-sref="homepage") Home
                a.md-button(ui-sref="login") Login
                a.md-button(ui-sref="books") Books
                a.md-button(ui-sref="examples") Examples
